@model DayHeaderViewModel

<div id="writing-day-header">
    <p><span onclick="closeWritingArea()" id="close-writing-area" class="animate action-button green"><i class="fa fa-times" aria-hidden="true"></i></span></p>
    <p class="day-number">Day @Model.DayNumber </p>
    <p>
        <span class="xp-reward">XP:</span> @Model.ExperienceReward |
        Required Words: <span id="writing-day-required-words">@Model.RequiredWords.ToString("##,###")</span>
    </p>
    <div id="writing-progress-bar" class="progress-background">
        <div class="progress-slider"></div>
    </div>
    <p>
        Written Words: <span id="written-words">@Model.WrittenWords</span>
        <script>checkProgress(@Model.WrittenWords)</script>
    </p>
    <p id="current-day-uniqueID" style="visibility: hidden; opacity: 0; top: -2000px;">@Model.PathDayHeaderID</p>
    <p id="current-path-DayNumber" style="visibility: hidden; opacity: 0; top: -2000px;">@Model.DayNumber</p> @*// todo is this correct day ?*@
    <p id="current-day-rewardID" style="visibility: hidden; opacity: 0; top: -2000px;">@Model.WritingDayRewardID</p>
</div>