@model PathViewModel

<div id="writing-path-header">
    <h2>Writer's Journey</h2>
    <h3>@Model.PathName</h3>
    <p>Words to Write: @Model.TotalWords.ToString("##,###")</p>
    <p>Duration: @Model.TotalDays days</p>
</div>

<div id="days-info-container">
    <div id="days-info-body">
            @for(int i = 0; i < Model.DayHeaders.Count; i += 1)
            {
                <div class="writing-path-single-day-info">
                    @if (Model.UserDays[i].Locked)
                    {
                        <div class="locked-day">
                            <p>Day @Model.DayHeaders[i].PathDayNumber Locked</p>
                            <p><i class="fa fa-lock fa-2x" aria-hidden="true"></i></p>
                        </div>
                    }
                    else
                    {
                        <span class="title">Day Title</span> <span class="writing-path-single-day-number">@Model.DayHeaders[i].PathDayNumber</span>
                        <p><span class="xp-reward">XP:</span> @Model.DayHeaders[i].ExperienceReward Goal: @Model.DayHeaders[i].RequiredWords words</p>
                        <p><button onclick="getWritingDay(@Model.DayHeaders[i].PathDayHeaderID); displayHiddenQuote(@Model.DayHeaders[i].PathDayHeaderID)" class="animate action-button do-it-button green"><span>Write</span></button></p>
                        <p>@Model.UserDays[i].WrittenWords words written                                    @*// hiddenQuoteID*@
                        @if (Model.UserDays[i].Accomplished)
                        {
                            <i class="fa fa-heart" aria-hidden="true"></i><span> Accomplished</span><i class="fa fa-check" aria-hidden="true"></i>
                        }
                        </p>
                    }
                </div>
            }  
    </div>
</div>
<div id="days-info-footer">
    <h4>Your Stats</h4>
    <p>Goal</p>
    <p>Throphies</p>
</div>